.column {
    flex-direction: column;
}

body {
    font-size: 2em;
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
}

h1 {
    text-align: center;
}

.row {
    flex-direction: row;
}

.info-field {
    background-color: rgb(240, 240, 240);
    padding: 10px;
    border-radius: 2px;
}

.element {
    margin-top: 2em;
}

#user-avatar {
    padding: 0.25em;
}

#user-container {
    display: flex;
    font-size: 0.75em;
    align-items: center;
    align-self: center;
}

#content {
    display: flex;
    margin-left: 33%;
    margin-right: 33%;
    width: 33%;
}

#process-exchange {
    padding: 0.8em;
    width: 10em;
    align-self: center;
    border: none;
    background-color: rgb(44, 130, 228);
    color: white;
    font-size: 0.75em;
}

#container {
    display: flex;
    height: 100vh;
    width: 100%;
}
